package main

import (
	"fmt"
	"os"

	"github.com/soheilhy/cmux"

	"{{ .PackageName }}/pkg/cmd"
)

func main() {
	if err := cmd.RunServer(); err != nil {
		if err != cmux.ErrListenerClosed {
			fmt.Fprintf(os.Stderr, "Server Error: %v\n", err)
			os.Exit(1)
		}
	}
}