package main

import (
	"flag"
	"fmt"
	"io/ioutil"
	"log"
	"net/http"
)

func main() {
	// get configuration
	address := flag.String("server", "http://localhost:9000", "HTTP gateway url, e.g. http://localhost:9000")
	flag.Parse()

	var body string

	resp, err := http.Get(*address + "/v1/time")
	if err != nil {
		log.Fatalf("failed to call Echo.Time service: %v", err)
	}
	bodyBytes, err := ioutil.ReadAll(resp.Body)
	resp.Body.Close()
	if err != nil {
		body = fmt.Sprintf("failed read {{ .ServiceName }} response body: %v", err)
	} else {
		body = string(bodyBytes)
	}
	log.Printf("Echo response: Code=%d, Body=%s\n\n", resp.StatusCode, body)
}
