PREGUNTAS FRECUENTES SOBRE EL USO DEL CÓDIGO FUENTE
===================================================

La mercantil **ACEB SAU** (en adelante, "ACEBSAU") es la autora, propietaria y titular exclusiva del CÓDIGO FUENTE (en adelante, también, "EL CÓDIGO") **,** que está protegido por los derechos de propiedad intelectual y de cualquier índole inherentes y/o relativos al mismo, los cuales son titularidad exclusiva de ACEBSAU.

Mediante el acceso y uso del CÓDIGO FUENTE, aceptas y te obligas a cumplir en su totalidad con los términos y condiciones previstos en la " **Licencia Pública ACB de Código Fuente**" (en adelante la " **Licencia**"), a la que puedes acceder en este mismo repositorio, en el fichero **LICENCIA.md**. Es importante que leas la Licencia antes de utilizar el CÓDIGO.

- **¿Qué es la licencia de uso?**

La Licencia es la autorización que ACEBSAU concede como titular del CÓDIGO FUENTE para que quienes lo deseen puedan tener libre acceso a al mismo, utilizarlo e incluso modificarlo, siempre de acuerdo con los términos y condiciones de dicha Licencia.

La Licencia conferida por ACEBSAU es mundial, gratuita, no exclusiva y de duración indefinida y da derecho a utilizar, distribuir, ceder y modificar el CÓDIGO, en los términos previstos en la misma.

- **¿Cómo puedes utilizar el CÓDIGO FUENTE?**

De acuerdo con la Licencia, tienes derecho a acceder y utilizar libremente el CÓDIGO en cualquiera de sus formas, permitiéndose su descarga, ejecución, instalación, su uso compartido con otros usuarios y/o cualquier otra modalidad, así como la modificación y transformación del mismo, y su redistribución posterior.

- **¿La Licencia me da algún derecho de uso sobre las marcas de la ACB?**

No. En ningún caso puedes utilizar las denominaciones, marcas y logotipos de ACEBSAU, de la Asociación de Clubes de Baloncesto (en adelante, "ACB") y/o de cualquiera de sus asociados. De hacerlo estarías infringiendo los derechos de terceros (incluyendo los de ACEBSAU y ACB) e incurrirías en diversas responsabilidades.

- **¿Está permitido reproducir y/o redistribuir el CÓDIGO FUENTE?**

Como licenciatario tienes derecho a descargarte y copiar EL CÓDIGO FUENTE, así como a redistribuirlo libremente, tanto la versión original como cualquiera de sus posteriores modificaciones, poniéndolo a disposición de cualquier tercero de forma gratuita, siempre y cuando dicha redistribución se realice manteniendo y respetando los términos y condiciones estipuladas en LA LICENCIA, cuyo texto íntegro y original deberá ser siempre incluido y reproducido en su totalidad junto con el CÓDIGO FUENTE y resultará aplicable a posteriores cesiones, licencias y redistribuciones del mismo, debiendo ser asimismo aceptado por el nuevo usuario.

- **¿Se puede modificar y/o transformar el CÓDIGO?**

Sí. Puedes realizar cualquier modificación o alteración sobre el CÓDIGO FUENTE, así como crear programas derivados del mismo, siempre y cuando seas el autor original de dicha modificación y dejes constancia en la nueva versión del CÓDIGO de cualquier modificación, añadido o transformación que hayas realizado sobre su versión original o anteriorel mismo. En todo caso, el texto del Acuerdo de Licencia deberá ser incluido íntegramente en cada versión nueva del CÓDIGO o en cualquiera de sus modificaciones, debiendo asimismo resultar accesible y visible para el usuario.

Además, deberás incluir igualmente en todos los trabajos derivados y/o en las modificaciones y transformaciones que hagas sobre el CÓDIGO FUENTE, un nombre identificativo propio y un número de versión distintos a los de la versión original anteior de ACEBSAU. En ningún caso se te permite usar, vincular, hacer mención alguna y/o utilizar de cualquier modo a ACEBSAU, a la ACB y/o a cualquiera de sus marcas, logotipos y denominaciones.

A excepción de que se realice con fines exclusivamente privados, al realizar dicha modificación y/o transformación del CÓDIGO, cedes gratuitamente y con la mayor amplitud que en Derecho fuera posible, todos los derechos de propiedad intelectual y/o industrial sobre dicha modificación o sobre la obra derivada, que quedará sometida a los términos y condiciones de la Licencia.

Igualmente, en la realización de cualquier modificación del CÓDIGO, quedas obligado y garantizas no infringir ningún derecho de terceros, incluyendo los derechos de propiedad intelectual y/o industrial, eximiendo a ACEBSAU de cualquier responsabilidad que pudiera derivarse, asumiendo y siendo de tu responsabilidad exclusiva todas las consecuencias y responsabilidades de cualquier tipo que de dicha infracción pudieran derivarse, garantizando la total indemnidad de ACEBSAU.

- **Si modificas el CÓDIGO FUENTE, ¿puedes redistribuir y poner a disposición de terceros el resultado de las modificaciones y/o transformaciones realizadas?**

Sí, siempre y cuando mantengas en las posteriores distribuciones y versiones del CÓDIGO las mismas condiciones de uso de la versión original, quedando sometida y pudiendo distribuirse la nueva versión del CÓDIGO FUENTE bajo los términos y condiciones previstas en la Licencia, que resultará igualmente aplicable y regirá la nueva versión del CÓDIGO.

En todo caso, deberás mantener y conservar en el CÓDIGO y/o en cualquiera de sus ulteriores copias, reproducciones, modificaciones y/o transformaciones el aviso de los derechos de autor y copyright que ACEBSAU ostenta sobre el CÓDIGO FUENTE.

- **¿Se pueden ejercitar los derechos conferidos por la Licencia con fines comerciales?**

Salvo que el Licenciatario cuente con la previa y expresa autorización por parte de ACEBSAU, la cual además deberá constar por escrito, se prohíbe cualquier uso comercial del CÓDIGO FUENTE, no pudiendo por lo tanto ejercitar los derechos de distribución, uso, reproducción (incluyendo cualquiera de sus redistribuciones y/o subsiguientes puestas a disposición de terceros) y modificación del CÓDIGO con dicha finalidad comercial.

- **¿Puede ACEBSAU modificar los términos y condiciones de la Licencia?**

ACEBSAU se reserva el derecho a distribuir el CÓDIGO FUENTE o cualquiera de sus modificaciones y/o transformaciones bajo una nueva licencia, gozando a tal efecto de absoluta libertad para fijar nuevos términos y condiciones, indicando en cada variación una referencia al número de versión que corresponda.

No obstante, la nueva versión de la licencia en ningún caso afectará a quienes hayan obtenido el CÓDIGO bajo una versión anterior de Licencia, que seguirá siendo aplicable a la versión del CÓDIGO FUENTE a que corresponda que, por lo tanto, el usuario podrá seguir utilizando en los términos y condiciones bajo los que le fue originariamente cedido.

**© 2017-2019 ACEB SAU**. Todos los derechos reservados.
