LICENCIA PÚBLICA ACB DE CÓDIGO FUENTE
=====================================

### © 2017-2019 ACEB SAU. Todos los derechos reservados.

# IMPORTANTE: LEA ATENTAMENTE ESTE DOCUMENTO

La presente licencia de uso del CÓDIGO FUENTE (en adelante, la "LICENCIA") constituye el acuerdo que rige el uso del mismo, que es propiedad exclusiva de la mercantil ACEB SAU, con domicilio social en Barcelona, calle Iradier, 37 y número de identificación fiscal A-58.022.864 (en adelante "ACEBSAU"), estableciendo los términos y condiciones de ejercicio de los derechos que son objeto de LICENCIA en relación con el citado CÓDIGO FUENTE (en adelante, "EL CÓDIGO FUENTE" o "EL CÓDIGO").

El CÓDIGO FUENTE se pone a disposición del usuario bajo los términos y condiciones de la presente LICENCIA. EL CÓDIGO FUENTE, del que es propietario y titular exclusivo ACEBSAU, está protegido por los derechos de propiedad intelectual y análogos que le corresponden como su único y exclusivo autor, constituyendo cualquier acto o uso distinto del permitido en la presente LICENCIA una infracción de los derechos de ACEBSAU, que dará lugar a las acciones y responsabilidades de toda índole que en Derecho correspondan frente al infractor.

Mediante el ejercicio de cualquiera de los derechos previstos en la presente LICENCIA, Ud. acepta los términos y condiciones aquí previstos y se obliga a cumplirlos, con el alcance, los derechos, las obligaciones y responsabilidades aquí establecidos.

# 1. DERECHOS DE PROPIEDAD

ACEBSAU es la autora, propietaria y la titular exclusiva del CÓDIGO FUENTE (, ostentando la plena titularidad originaria sobre el mismo, así como todos los derechos de propiedad intelectual (derechos morales, derechos de explotación en todas sus manifestaciones, etc.) y de cualquier otra índole inherentes y/o relativos al mismo. El LICENCIATARIO reconoce la titularidad de ACEBSAU sobre el CÓDIGO FUENTE, que se obliga a respetar en todo momento.

En consecuencia, y sin perjuicio de los derechos que son objeto de LICENCIA, todos los derechos de propiedad intelectual del CÓDIGO FUENTE (incluyendo cualquier elemento que forme parte del mismo) son propiedad exclusiva de ACEBSAU. El CÓDIGO FUENTE deberá ser utilizado por el LICENCIATARIO de acuerdo con los términos y a los fines establecidos en la presente LICENCIA.

# 2. CONCESIÓN Y CONDICIONES DE LA LICENCIA**

Mediante la presente LICENCIA, ACEBSAU confiere al LICENCIATARIO, una licencia mundial, gratuita, no exclusiva y de duración indefinida sobre el CÓDIGO FUENTE, en los siguientes términos:

## 2.1. Distribución en forma binaria y Código Fuente:

EL CÓDIGO se distribuye y cede, en los términos aquí previstos, tanto en forma binaria como directamente, a través de la puesta a disposición a cualquier usuario del CÓDIGO FUENTE.

Igualmente, en el ejercicio de cualquiera de los derechos conferidos por la LICENCIA (particularmente el de redistribución y modificación del CÓDIGO FUENTE), el LICENCIATARIO deberá, siempre y en todo caso, incluir y poner a disposición de los ulteriores usuarios, el CÓDIGO FUENTE en su versión original actual o en cualquier nueva versión que pueda haber realizado el LICENCIATARIO, tras la modificación o transformación de su versión originaldel mismo.

## 2.2. Derechos conferidos al LICENCIATARIO:

ACEBSAU concede al LICENCIATARIO del CÓDIGO FUENTE los siguientes derechos:

### i. Derecho de uso:

El derecho a utilizar libremente y con la mayor amplitud posible, en sus formas fuente y binarias, con o sin modificación, el CÓDIGO, permitiéndose su instalación, uso compartido, y cualquier otra modalidad de uso por parte del LICENCIATARIO.

La presente LICENCIA y el uso del CÓDIGO FUENTE no concede en ningún caso al LICENCIATARIO un derecho de uso de las denominaciones, las marcas y los logotipos de ACEBSAU, la Asociación de Clubes de Baloncesto ("ACB") o de sus asociados.

### ii. Derecho de reproducción y redistribución:

El derecho a copiar el CÓDIGO FUENTE y a redistribuirlo libremente (tanto su versión original actual como cualquiera de sus eventuales modificaciones o transformaciones) en su forma binaria y fuente, poniéndolo a disposición de cualquier tercero, gratuitamente, siempre y cuando dicha redistribución se realice manteniendo y respetando los términos y condiciones de la presente LICENCIA, que deberá ser incluida y reproducida siempre junto con el CÓDIGO FUENTE (con independencia de la versión de que se trate) y resultará aplicable a todas sus ulteriores cesiones, licencias y redistribuciones del CÓDIGO FUENTE y de sus posteriores versiones, debiendo también ser aceptada por el nuevo usuario-LICENCIATARIO.

En todo caso, los derechos de reproducción y redistribución deberán ejercitarse respetando en todo momento las obligaciones y limitaciones previstas en la estipulación 2.3 siguiente.

### iii. Derecho de modificación

El derecho a modificar y/o transformar el CÓDIGO FUENTE, pudiendo hacer para ello libremente el LICENCIATARIO cualquier modificación o alteración sobre el CÓDIGO, y pudiendo también crear programas derivados del mismo. El LICENCIATARIO deberá dejar constancia en la nueva versión del CÓDIGO FUENTE de cualquier modificación o transformación que haya hecho sobre el código original. Además, el texto de la presente LICENCIA deberá incluirse íntegramente en cada nueva versión que se produzca o modificación que se realice del CÓDIGO, que siempre deberá ser accesible y resultar visible para el usuario.

A salvo que se haga para fines exclusivamente privados, al realizar una modificación o transformación del CÓDIGO FUENTE, o con la creación de una obra derivada del mismo, aun reconociéndosele su autoría, el LICENCIATARIO cede gratuitamente y con la mayor amplitud que en Derecho fuera posibleidéntico alcance y amplitud al aquí previsto, todos los derechos de propiedad intelectual (derechos de reproducción, distribución, comunicación pública, transformación, etc.) y/o industrial sobre dicha modificación u obra derivada, y bajo los términos y condiciones previstos en la presente LICENCIA. que puedan ser objeto de cesión de conformidad con la legislación española.

En todos los trabajos derivados y/o las modificaciones y transformaciones que haga sobre el CÓDIGO FUENTE, el LICENCIATARIO deberá incluir un nombre identificativo propio y un número de versión distintos a los de la versión original o anterior, no pudiendo en ningún caso el LICENCIATARIO utilizar, vincular, hacer mención o utilizar de cualquier modo a ACEBSAU, la Asociación de Clubes de Baloncesto ("ACB") o a cualesquiera de sus marcas, logotipos y denominaciones, que salvo autorización expresa, previa y por escrito por parte de ACEBSAU, no podrán en ningún caso asociarse de ningún modo a dicha nueva versión o modificación del CÓDIGO FUENTE o de cualquier programa derivado del mismo.

Asimismo, el LICENCIATARIO podrá redistribuir y poner a disposición de terceros el resultado de tales modificaciones, transformaciones o trabajos derivados, lo que deberá hacer siempre y en cualquier caso bajo los términos y condiciones de esta LICENCIA, manteniendo así en las ulteriores distribuciones, modificaciones y versiones del CÓDIGO FUENTE, las mismas condiciones de uso de su versión original. A tal efecto, esta LICENCIA deberá reproducirse e incluirse en el CÓDIGO y ser accesible para los usuarios, que deberán aceptarla.

Al realizar cualquier modificación o transformación del CÓDIGO FUENTE, o cualquier programa derivado del mismo, EL LICENCIATARIO reconoce bajo su responsabilidad ser el autor original de dicha modificación del código y, en consecuencia, garantiza y se obliga a no infringir ningún derecho, de cualquier tipo (incluyendo los derechos de propiedad intelectual y/o industrial), que pueda ser titularidad de terceros, eximiendo de cualquier responsabilidad a ACEBSAU al respecto y, particularmente, respecto de cualquier eventual infracción de los derechos de terceros, asumiendo el LICENCIATARIO todas las consecuencias y responsabilidades de cualquier tipo que pudieran darse y garantizando la total indemnidad de ACEBSAU respecto de cualquier reclamación, acción judicial, denuncia o requerimiento de terceros, en relación con dicha modificación, transformación del CÓDIGO FUENTE o cualquier creación derivada del mismo.

En todo caso, el LICENCIATARIO deberá ejercer el derecho de modificación aquí previsto, respetando siempre las obligaciones y limitaciones previstas en las estipulaciones 2.3 y de acuerdo con los términos y condiciones de la LICENCIA.

## 2.3. Obligaciones y limitaciones asumidas por el LICENCIATARIO:

El LICENCIATARIO del CÓDIGO FUENTE se obliga a respetar las limitaciones establecidas en la presente LICENCIA, así como a cumplir las siguientes condiciones y obligaciones:

### i. Reconocimiento de la autoría del CÓDIGO FUENTE:

Todos los derechos conferidos por la presente LICENCIA deberán ser ejercidos por el LICENCIATARIO de buena fe y respetando en todo momento los derechos de propiedad intelectual de los que es titular ACEBSAU, así como su autoría del CÓDIGO FUENTE, manteniendo y conservando en todo caso, en dicho código y/o en cualquiera de sus posteriores copias, reproducciones o modificaciones, el aviso del copyright (autoría) que ACEBSAU ostenta sobre el mismo.

### ii. Prohibición de usos comerciales:

El LICENCIATARIO en ningún caso podrá ejercitar los derechos conferidos por la presente LICENCIA con fines comerciales, pudiendo únicamente utilizar el CÓDIGO FUENTE y ejercer los derechos previstos en la LICENCIA, de forma gratuita y sin ningún ánimo de lucro.

En consecuencia, se prohíbe cualquier uso comercial del CÓDIGO FUENTE (incluyendo a cualquiera de sus redistribuciones y o consiguientes puestas a disposición de terceros) o de cualquiera de sus modificaciones y trabajos derivados del mismo, así como el uso comercial de cualesquiera derechos que pudiera conferir la presente LICENCIA al LICENCIATARIO, a salvo que cuente con la previa autorización, expresa y por escrito, de ACEBSAU y, en su caso, de los autores de cualquiera de sus modificaciones.

### iii. Términos y condiciones de futuras redistribuciones del CÓDIGO FUENTE:

El LICENCIATARIO podrá redistribuir libremente el CÓDIGO FUENTE o cualquier modificación, transformación o trabajo derivado del mismo, siempre y cuando ello lo lleve a cabo bajo los exactos términos y condiciones de la presente LICENCIA (que, por lo tanto, resultará igualmente aplicable a, y regirá la licencia de la nueva versión del CÓDIGO FUENTE).

Por lo tanto, cualquier redistribución del CÓDIGO FUENTE o de sus modificaciones deberá hacerse bajo las condiciones de esta LICENCIA, que deberá incluirse en CÓDIGO, y ser accesible para los usuarios.

Particularmente:

a) En las redistribuciones del CÓDIGO FUENTE debe mantenerse la referencia a los derechos de autor y reproducirse, íntegramente, la LICENCIA.

b) En su caso, las redistribuciones en forma binaria deben reproducir íntegramente el aviso de copyright y la LICENCIA, incluyendo dicha información en cualquier documentación o material que se suministre al usuario en dicha redistribución.

### iv. No vinculación o asociación a la ACEBSAU o a la Asociación de Clubes de Baloncesto (ACB) ni a cualquiera de sus marcas o logotipos:

El LICENCIATARIO no podrá en ningún caso utilizar, vincular, hacer mención o referirse de cualquier modo a ACEBSAU, a la Asociación de Clubes de Baloncesto ("ACB") o a cualesquiera de sus denominaciones, marcas y logotipos que, salvo autorización expresa, previa y por escrito por parte de ACEBSAU o de la ACB, no podrán en ningún caso asociarse a las redistribuciones que haga el LICENCIATARIO del CÓDIGO FUENTE o a las eventuales nuevas versiones o modificaciones que se hagan del mismo.

Igualmente, salvo que el LICENCIATARIO cuente con la autorización expresa, previa y por escrito de ACEBSAU y/o de la Asociación de Clubes de Baloncesto ("ACB"), en modo alguno podrá utilizarse la denominación, el nombre y/o el logotipo de ACEBSAU, ACB o de cualquiera de sus asociados, para intentar respaldar o promover, o generar una apariencia de oficialidad, de las modificaciones y/o transformaciones del CÓDIGO FUENTE, o de los productos derivados del mismo.

# 3. CARÁCTER GRATUITO DE LA LICENCIA

La presente LICENCIA se concede y otorga al LICENCIATARIO de forma totalmente gratuita.

# 4. DURACIÓN DE LA LICENCIA

La presente LICENCIA tiene carácter indefinido, quedando no obstante su vigencia condicionada al cumplimiento por parte del LICENCIATARIO de todos los términos y condiciones aquí previstos.

# 5. NUEVAS VERSIONES DE LA LICENCIA

ACEBSAU podrá distribuir el CÓDIGO FUENTE o cualquiera de sus modificaciones y transformaciones bajo una nueva licencia, gozando a tal efecto de absoluta libertad para fijar unos nuevos términos y condiciones de licencia. Cada variación de la LICENCIA deberá incluir una referencia en la que se incluya el número de versión que corresponda.

No obstante, dicha revisión de la LICENCIA no afectará a quienes hayan obtenido anteriormente una LICENCIA del CÓDIGO FUENTE, que seguirá vigente, pudiendo en tales casos los LICENCIATARIOS, seguir utilizando la versión correspondiente del CÓDIGO FUENTE bajo los términos y condiciones previstos en la LICENCIA que corresponda.

# 6. EXENCIÓN DE GARANTÍAS Y LIMITACIÓN DE RESPONSABILIDADES

ACEBSAU no otorga ninguna garantía ni asume ninguna responsabilidad en relación con el CÓDIGO FUENTE (o cualquiera de sus ulteriores modificaciones, transformaciones o trabajos derivados que puedan hacerse sobre el mismo), su uso, su distribución, redistribución, copia, modificación y/o transformación, como tampoco sobre las obras o productos derivados de éste, asumiendo por tanto el LICENCIATARIO toda la responsabilidad derivada del uso o del mal uso del CÓDIGO FUENTE o de sus modificaciones y derivaciones.

El CÓDIGO FUENTE se pone a disposición y distribuye por ACEBSAU y, en su caso, por los LICENCIATARIOS y contribuyentes, "tal como es" y sin ninguna garantía, explícita o implícita, incluyendo, con efecto meramente ilustrativo pero no limitativo, las garantías de calidad, de consumidores y usuarios, comerciales, de idoneidad para un fin o un uso concreto o determinado, de exactitud, de disfrute, de no infracción de derechos de terceros (de cualquier naturaleza, incluyendo de propiedad intelectual y/o industrial), en relación con el CÓDIGO FUENTE aquí licenciado. El uso y los resultados del uso, la instalación, la ejecución, modificación, transformación o redistribución del CÓDIGO FUENTE, son responsabilidad exclusiva del LICENCIATARIO.

ACEBSAU no será en ningún caso responsable de cualesquiera daños de cualquier tipo o naturaleza derivados del CÓDIGO FUENTE o de sus modificaciones, que serán en todo caso asumidos por el LICENCIATARIO, con independencia de cuál haya sido su causa u origen. Así, a efectos ilustrativos pero no limitativos, ACEBSAU no será responsable de ni asumirá ninguna consecuencia derivada de: daños personales, daños directos o indirectos, daño emergente, lucro cesante, pérdida de oportunidad, daños por pérdida de beneficios, pérdida de datos o información, daños a hardware, interrupción de la actividad empresarial, daños o pérdidas comerciales de cualquier tipo, daños resultantes o derivados del uso o mal uso del CÓDIGO FUENTE, con independencia de cómo haya sido causado y del tipo de responsabilidad de que se trate.

# 7. JURISDICCIÓN Y LEY APLICABLE

La presente LICENCIA, el CÓDIGO FUENTE y la relación jurídica entre ACEBSAU y los usuarios o licenciatarios del CÓDIGO FUENTE (y de sus ulteriores modificaciones y versiones) se rige y está sometida a la ley y la normativa española.

Cualquier controversia que pudiesen surgir en relación con el CÓDIGO FUENTE, así como relativa a la validez, interpretación, ejecución, eficacia, resolución o cumplimiento de la LICENCIA, quedará sometida a la exclusiva jurisdicción de los Juzgados y Tribunales de Barcelona, lo que es aceptado por el LICENCIATARIO, con renuncia expresa a cualquier otro foro o jurisdicción que pudiera corresponderle.

# 8. CONSERVACIÓN DE LA LICENCIA EN CASO DE INVALIDEZ DE ALGUNA CLÁUSULA

En caso de que alguna de las cláusulas de esta LICENCIA fuera considerada o declarada inválida, nula o ineficaz, el resto de las cláusulas no afectadas conservarán su validez y vigencia plena, y las afectadas serán sustituidas por otras con efectos jurídicos similares.

© 2017-2019 ACEB SAU. Todos los derechos reservados.
