package grpc

type (
	ServiceRegistrator func()
)

func (g *GrpcServer) Register(sr ServiceRegistrator) {
	g.grpcServicesRegistrators = append(g.grpcServicesRegistrators, sr)
}

func (g *GrpcServer) registerGrpcServices() {
	for _, s := range g.grpcServicesRegistrators {
		s()
	}
}
